<div class="row white">
    <div class="col s12">
        <div class="row">
            <h4 class="center-align">Proximos estrenos</h4>
        </div>
        <div class="row">
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/imagenes/posters/RogueOneP.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-lenguaje"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Nombre de la pelicula
                        <i class="material-icons">close</i>
                        <p>
                            Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido
                            del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene
                            una distribución más o menos normal de las letras, al contrario de usar textos como por
                            ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se
                            puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum
                            como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado
                            muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas
                            versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a
                            propósito (por ejemplo insertándole humor y cosas por el estilo).
                        </p>
                    </span>
                </div>
            </div>

            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/imagenes/posters/stars.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-lenguaje"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Nombre de la pelicula
                        <i class="material-icons">close</i>
                        <p>
                            Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido
                            del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene
                            una distribución más o menos normal de las letras, al contrario de usar textos como por
                            ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se
                            puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum
                            como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado
                            muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas
                            versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a
                            propósito (por ejemplo insertándole humor y cosas por el estilo).
                        </p>
                    </span>
                </div>
            </div>

            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/imagenes/posters/the_mummy.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-lenguaje"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Nombre de la pelicula
                        <i class="material-icons">close</i>
                        <p>
                            Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido
                            del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene
                            una distribución más o menos normal de las letras, al contrario de usar textos como por
                            ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se
                            puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum
                            como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado
                            muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas
                            versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a
                            propósito (por ejemplo insertándole humor y cosas por el estilo).
                        </p>
                    </span>
                </div>
            </div>
            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/imagenes/posters/venom.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-lenguaje"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Nombre de la pelicula
                        <i class="material-icons">close</i>
                        <p>
                            Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido
                            del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene
                            una distribución más o menos normal de las letras, al contrario de usar textos como por
                            ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se
                            puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum
                            como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado
                            muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas
                            versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a
                            propósito (por ejemplo insertándole humor y cosas por el estilo).
                        </p>
                    </span>
                </div>
            </div>

            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/imagenes/posters/what_if.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-lenguaje"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Nombre de la pelicula
                        <i class="material-icons">close</i>
                        <p>
                            Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido
                            del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene
                            una distribución más o menos normal de las letras, al contrario de usar textos como por
                            ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se
                            puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum
                            como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado
                            muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas
                            versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a
                            propósito (por ejemplo insertándole humor y cosas por el estilo).
                        </p>
                    </span>
                </div>
            </div>

            <div class="col s12 m2 l2 card">
                <div class="card-image waver-efect waves-blog waves-light">
                    <img class="activator" src="./assets/imagenes/posters/wonder_woman.jpg">
                </div>
                <div class="card-content">
                    <a href="#"><i class="fas fa-heart"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                    <a href="#"><i class="fas fa-bookmark"></i></a>
                    <a href="#"><i class="fas fa-lenguaje"></i></a>
                    <a href="#"><i class="fas fa-share-alt"></i></a>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Nombre de la pelicula
                        <i class="material-icons">close</i>
                        <p>
                            Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido
                            del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene
                            una distribución más o menos normal de las letras, al contrario de usar textos como por
                            ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se
                            puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum
                            como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado
                            muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas
                            versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a
                            propósito (por ejemplo insertándole humor y cosas por el estilo).
                        </p>
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>